.table-container{
  display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    width: 100%;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 70%;
    font-size: large;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    text-align: center;
  }
 
  tr:nth-child(even) {
    background-color: #dedede;
  }
  td:nth-child(4){
      /* background-color: #3c3762; */
      width: 225px;
  }

  tr:first-child{
      background-color: #ffffff;
      color:black
  }