<div class="table-container">
    <h1>Student List</h1>
    <table>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Approved</th>
            <th>Action</th>
        </tr>
        <tr *ngFor="let student of (studentList$ | async); trackBy: trackByFn">
            <td>{{student.id}}</td>
            <td>{{student.name}}</td>
            <td>{{student.approved}}</td>
            <td><button class="button"
                    [ngxsFunctionLoading]="onToggleApprovel.bind(this,student.id)">{{student.approved?'UnApproved': 'Approve'}}</button>
            </td>
        </tr>
    </table>
</div>