<div style="display: flex; justify-content: center; align-items: center;">
    <h1>Student</h1>
</div>
<h3 style="color: green;">Successful Actions</h3>
<div class="container">
    <div class="content">
        <p> 1) By passing Action as String</p>
        <div class="btn-container">
            <button type="button" ngxsDispatchLoading="[loading] fetching Books" ngxsOnSuccessUrl="home">Submit</button>
        </div>
    </div>
    <div class="content">
        <p> 2) By passing Action Object</p>
        <div class="btn-container">
            <button type="button" [ngxsDispatchLoading]="fechingBookAction" ngxsOnSuccessUrl="home">Submit</button>
        </div>
    </div>
    <div class="content">
        <p> 3) By passing state path</p>
        <div class="btn-container">
            <button type="button" ngxsStateWatchLoading="loading.loadingBooks" (click)="fetchingBooks()">Submit</button>
        </div>
    </div>
    <div class="content">
        <p> 4) Watch action by string</p>
        <div class="btn-container">
            <button type="button" ngxsActionWatchLoading="[loading] fetching Books"
                (click)="fetchingBooks()">Submit</button>
        </div>
    </div>
    <div class="content">
        <p> 5) Watch action by Action object</p>
        <div class="btn-container">
            <button type="button" [ngxsActionWatchLoading]="fechingBookAction" (click)="fetchingBooks()">Submit</button>
        </div>
    </div>
    <div class="content">
        <p> 6) call a function</p>
        <div class="btn-container">
            <button type="button" [ngxsFunctionLoading]="fetchingBooks.bind(this)">Submit</button>
        </div>
    </div>
</div>
<h3 style="color: red;">Error Thrown Actions</h3>
<div class="container">
    <div class="content">
        <p> 1) By passing Action as String</p>
        <div class="btn-container">
            <button type="button" ngxsDispatchLoading="[loading] fetcing teachers">Submit</button>
        </div>
    </div>
    <div class="content">
        <p> 2) By passing Action Object</p>
        <div class="btn-container">
            <button type="button" [ngxsDispatchLoading]="fetchingTeacherAction" ngxsOnSuccessUrl="home">Submit</button>
        </div>
    </div>
    <div class="content">
        <p> 3) By passing state path</p>
        <div class="btn-container">
            <button type="button" ngxsStateWatchLoading="loading.loadingTeacher"
                (click)="fetchingTeachers()">Submit</button>
        </div>
    </div>
    <div class="content">
        <p> 4) Watch action by string</p>
        <div class="btn-container">
            <button type="button" ngxsActionWatchLoading="[loading] fetcing teachers"
                (click)="fetchingTeachers()">Submit</button>
        </div>
    </div>
    <div class="content">
        <p> 5) Watch action by Action object</p>
        <div class="btn-container">
            <button type="button" [ngxsActionWatchLoading]="fetchingTeacherAction"
                (click)="fetchingTeachers()">Submit</button>
        </div>
    </div>
    <div class="content">
        <p>6) call a function</p>
        <div class="btn-container">
            <button type="button" [ngxsFunctionLoading]="fetchingTeachers.bind(this)" >Submit</button>
        </div>
    </div>
</div>