<div class="table-container">
    <div class="header">
        <h1>Student List</h1>
        <div>
            <a class="btn" [routerLink]="['/student/add']" routerLinkActive="router-link-active" type="button">Add Student</a>
        </div>
    </div>
    <table>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Marks</th>
            <th>Action</th>
        </tr>
        <tr *ngFor="let student of (studentList$ | async); trackBy: trackByFn">
            <td>{{student.id}}</td>
            <td>{{student.name}}</td>
            <td>{{student.marks}}</td>
            <td><button class="button"
                    [ngxsSubmitLoading]="CheckForEligibility.bind(this,student.id)">Check</button>
            </td>
        </tr>
    </table>
</div>