table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    font-size: large;
    color: #fff;
    margin-top: 100px;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    width: 25%;
    text-align: center;
  }
 
  tr:nth-child(even) {
    background-color: #7d78a2;
  }
  tr:nth-child(odd){
      background-color: #3c3762;
  }

  tr:first-child{
      background-color: #ffffff;
      color:black
  }